.FoodListQuantity {
    display: flex;
    align-items: center;

    button {
        display: block;
        border-radius: 50%;
        border: 1px solid #777;
        background-color: transparent;
        padding: 8px 14px;
        font-size: 1.2em;
        cursor: pointer;
        text-align: center;
    }

    span {
        display: block;
        padding: 3px 12px;
        font-size: 1.3em;
    }
}