.Button {
    border: 0;
    background: linear-gradient(to right, #EC268F 0%, #F58634 100%);
    color: #fff;
    padding: 10px 21px;
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}